<section class="form-register">
    
    <h4>Formulario de Crear y listar empleados</h4>
    <form [formGroup]= "formGroup" (ngSubmit)= "addSumbit()">
        <p>Nombre Completo</p>
        <input class="controls" type="text" name="name" formControlName= "name">
        <p>funcion del empleado</p>
        <input class="controls" type="text" name="functionEmployee" formControlName = "functionEmployee">
        <button class="botons" type="submit">Crear Empleados</button>         
        <button (click)="listEmployee()" class="botons">Listar Empleados</button>       
    </form>
    <p>Lista de los empleados</p>
    <div *ngFor="let employee of employees">{{employee.fullname}}</div>
</section>

    


